<ion-content class="game">
  <div style="display: none; z-index: 1; position: absolute; color: black; font-weight: bold; left: 150px; top: 0px;">
      Score
  </div>

  <ion-grid class="game-grid">
    <ion-row class="game-display" [style.flex]="chatting ? 2 : 3">
      <ion-col>
        <div style="height: 100%">
          <img [src]="tile" style="height: 100%; width: 100%; left: 0%; top: 0%; z-index: 0; position: absolute;">
          <img *ngFor="let mob of mobs" [src]="getMobImagePath(mob.img)" [ngStyle]="mob.style" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="game-messages">
      <ion-col #messageReceiver style="overflow: scroll">
        
        <div *ngFor="let message of messages" style="margin: 5px" [hidden]="chatting">
          <span *ngIf="message.type != 'chat'" [style.color]="getColorForMessageType(message.type)">
            [{{ message.time | date:'mediumTime' }}] {{ message.text }}
          </span>
          <span *ngIf="message.type == 'chat'">
            [{{ message.time | date:'mediumTime' }}] {{ message.from }}: {{ message.text }}
          </span>
        </div>
        
        <div style="overflow: hidden; border: 1px solid black; padding: 5px" [hidden]="!chatting">
          <form (ngSubmit)="processChatText()">
            <ion-input name="chatText" #chatInput [(ngModel)]="chatText" type="text" placeholder="Chat message or command..."></ion-input>
            <button ion-button color="dark" small type="submit">Send</button>
            <button ion-button color="light" small (click)="chatting = false">Cancel</button>
          </form>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom [hidden]="chatting">
    <button ion-fab mini color="dark"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="setChatMode()"><ion-icon name="chatboxes"></ion-icon></button>
      <button ion-fab><ion-icon name="body"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>